* {
  margin: 0;
  padding: 0;
}

/* Custom styles to complement Tailwind */
body {
  font-family: "Inter", sans-serif;
}

.py-4 {
  padding: 0;
  padding-right: 1rem;
}

nav ul li a {
  transition: color 0.3s ease;
  font-weight: 400;
}

.form input:focus {
  border-color: #2563eb;
}

footer a {
  transition: color 0.3s ease;
}

.member .memb-logo {
  width: 200px;
  height: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memb-logo .mem_logo {
  max-width: 190px;
  max-height: 150px;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;
}
